.form-add-new-post {
	width: 100%;
}
.customizer-field {
	margin-bottom:15px;
	display:block;
	font-weight: bold;
}
.customizer-field input,
.customizer-field textarea,
.customizer-field select {
	padding: 10px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #d7d8d8;
}
.customizer-field .radio-button input,
.customizer-field .radio-button label {
	width: initial;
	cursor: pointer;
	font-weight: normal;
	margin-top:6px;
}
.customizer-field .radio-button input {
	margin-right: 8px
}
.customizer-field .radio-button label {
	vertical-align: top;
}
/************************
 * Media Upload
 ************************/
.customizer-field .btn {
    cursor: pointer;
    margin-top: 15px
}
.customizer-field .image-placeholder {
    padding: 40px;
    border: dashed 1px #9CA2A2;
    text-align: center;
    color: #5D7171;
}
.customizer-field .image-button.btn {
    background: white;
    color:#00549F;
    padding: 8px 12px;
    font-size: 12px;
    text-transform: initial;
    border-radius: 0;
    margin-bottom: 20px;
}
.customizer-field img {
	visibility: visible !important;
	background: rgba(255,255,255,0.5);
}
.customizer-field .wp-picker-input-wrap .button,
.customizer-field .wp-picker-input-wrap input {
    width: 48%;
    font-size: 12px;
}
.media-modal .screen-reader-text {
    display: none;
}

/************************
 * Form Alerts
 ************************/
.warning {
	padding:10px 0px;
	color: #FF4141;
}

/************************
 * Form Buttons
 ************************/
.form-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border:none;
	color: white;
    background: black;
    display: inline-block;
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 14px !important;
    border:none !important;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    margin-top: 15px;
    margin-right: 15px;
}
.form-button:hover,
.form-button:focus,
.form-button:active {
	background: #63addd;
}
.form-button.disabled {
	background: #ccc;
	cursor: not-allowed;
}

/**********************
 * Custom Datepicker
 **********************/
.ui-datepicker {
	width: 301px;
	height: auto;
	font-size: 14px;
	margin: 5px auto 0;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}
.ui-datepicker a {
	text-decoration: none;
}
.ui-datepicker table {
	width: 100%;
	margin:0;
}
.ui-datepicker-header {
	background: #63addd;
	color: #ffffff;
	line-height: 40px;
	font-size: 16px;
}
.ui-datepicker-title {
	text-align: center;
	font-weight: 500;
}
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	background-repeat: no-repeat;
	line-height: 80px;
	overflow: hidden;
}
.ui-datepicker-prev {
	float: left;
	background-position: center -30px;
}
.ui-datepicker-next {
	float: right;
	background-position: center 0px;
}
.ui-datepicker-prev span:before,
.ui-datepicker-next span:before {
    font-family: FontAwesome;
    position: relative;
    margin-top:-21px;
    display: block;
}
.ui-datepicker-prev span:before {
    content: "\f060";
    color: white;
}
.ui-datepicker-next span:before {
    content: "\f061";
    color: white;
}
.ui-datepicker thead {
	background-color: #f7f7f7;
	border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody td {
	padding: 0;
	border-right: 1px solid #bbb;
}
.ui-datepicker thead th {
	border:none !important;
}
.ui-datepicker thead th,
.ui-datepicker tbody td {
	width: 20px;
	height:30px;
	border: 1px solid #ccc;
}
.ui-datepicker thead th span,
.ui-datepicker tbody td a,
.ui-datepicker tbody td span {
	width: 100%;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	height:30px;
	font-weight: 500;
}
.ui-datepicker tbody tr {
	border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
	border-bottom: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	width: 30px;
	height: 30px;
	color: #666666;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
	background: #ececec;
}
.ui-datepicker-unselectable .ui-state-default {
	background: #f4f4f4;
	color: #b4b3b3;
}
.ui-datepicker-calendar .ui-state-hover {
	background: #f7f7f7;
}
.ui-datepicker-calendar .ui-state-active {
	background: #63addd;
	color: #ffffff;
	position: relative;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 43px;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 43px;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height: 30px;
	margin-bottom: 0;
}